<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>dynamic_web</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.sdzee.servlets.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/toto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreationClient</servlet-name>
		<servlet-class>com.sdzee.tp.servlets.CreationClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationCommande</servlet-name>
		<servlet-class>com.sdzee.tp.servlets.CreationCommande</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/creationClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationCommande</servlet-name>
		<url-pattern>/creationCommande</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>initParamServlet</servlet-name>
	    <servlet-class>org.o7planning.tutorial.servlet.InitParamServlet</servlet-class>
	    
	    <init-param>
	        <param-name>emailSupport1</param-name>
	        <param-value>abc@example.com</param-value>
	    </init-param>
	
	    <init-param>
	        <param-name>emailSupport2</param-name>
	        <param-value>tom@example.com</param-value>
	    </init-param>
	
	</servlet>    
		
	<servlet-mapping>
	    <servlet-name>initParamServlet</servlet-name>
	    <url-pattern>/initParam</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>logFilter</filter-name>
		<filter-class>org.o7planning.tutorial.servletfilter.LogFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>logFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>log2Filter</filter-name>
		<filter-class>org.o7planning.tutorial.servletfilter.Log2Filter</filter-class>
		<init-param>
			<param-name>logFile</param-name>
			<param-value>AppLog.log</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>log2Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>jdbcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>cookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
